<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>youwkey.ghq</string>
	<key>connections</key>
	<dict>
		<key>E43F5A5B-E437-4F9C-9F02-AD495F9B35F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04FF94A9-5346-41BA-A519-2A6C10576CEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D9305CDD-C96B-44E8-A2EA-F1905A22609E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AC8A5E9A-30A3-4B8C-9C28-9D5287AA6B31</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>youwkey</string>
	<key>description</key>
	<string>Get Search Suggestions from GHQ_ROOT</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Repository Suggest From GHQ</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>04FF94A9-5346-41BA-A519-2A6C10576CEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>D9305CDD-C96B-44E8-A2EA-F1905A22609E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ghq</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching ...</string>
				<key>script</key>
				<string>if [ "$(uname -m)" = "arm64" ]; then
  # for arm64 architecture
  ./alfred-ghq-arm64 $1
else
  # for x86_64(i386) architecture and fallback
  ./alfred-ghq-amd64 $1
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search ghq Repository</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E43F5A5B-E437-4F9C-9F02-AD495F9B35F0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>AC8A5E9A-30A3-4B8C-9C28-9D5287AA6B31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04FF94A9-5346-41BA-A519-2A6C10576CEB</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>AC8A5E9A-30A3-4B8C-9C28-9D5287AA6B31</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>D9305CDD-C96B-44E8-A2EA-F1905A22609E</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>E43F5A5B-E437-4F9C-9F02-AD495F9B35F0</key>
		<dict>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/opt/homebrew/bin/ghq</string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string>/opt/homebrew/bin/ghq</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>path of ghq command</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>GHQ_PATH</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/ghq</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/ghq</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>path of ghq root</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>GHQ_ROOT</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/youwkey</string>
</dict>
</plist>
